<h1>All the lists</h1>

<div>
  <ul>
    <% @lists.each do |list| %>
      <li><%= list.name %> -
      <%= link_to 'Details', list_path(list) %></li>
      <%= link_to "delete", list_path(list), data: {turbo_method: :delete} %>
    <% end %>
  </ul>
</div>

<div>
  <%= link_to 'Add list', new_list_path %>
</div>